<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>{{category}}</mat-card-title>
    <mat-card-subtitle>classification result</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      {{classifyService.doc}}
    </p>
  </mat-card-content>
  <mat-form-field>
    <mat-label>Select an option</mat-label>
    <mat-select [(value)]="selected">
      <mat-option>None</mat-option>
      <mat-option value="business">business</mat-option>
      <mat-option value="entertainment">entertainment</mat-option>
      <mat-option value="politics">politics</mat-option>
      <mat-option value="sport">sport</mat-option>
      <mat-option value="tech">tech</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-card-actions>
    <button mat-button (click)="onSubmit()">Save</button>
  </mat-card-actions>
</mat-card>