<mat-card>
    <form #signupForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="example-container">
        <mat-form-field>
            <input 
                matInput placeholder="Email"
                [(ngModel)] = "email"
                name = "email">
        </mat-form-field> 
        <mat-form-field>
                <input 
                type="password"
                    matInput placeholder="Password"
                    [(ngModel)] = "password"
                    name = "password">
        </mat-form-field>                   
        <div >
            <button mat-raised-button color="primary" 
                    [disabled]="!signupForm.form.valid">
                     Sign Up
            </button>
            <h2>{{errorMessage}}</h2>
        </div>
      </div>
    </form>
    </mat-card>

